<h1>New thing</h1>

<%= form_with(model: @thing) do |form| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @thing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
